<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 <div class="login">
	<h1>NRR Calculator</h1>
  <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 32%; font-size: 25px; color: yellow;">If a team is all out, enter the number of overs faced by that team as 20.</p>

  <ul>

    <li style="margin-left: 10%x;"><a class="active" href="/">Home</a></li>
    <li style="margin-left: 20%;"><a href="/india">IND</a></li>
    <li style="margin-left: 30%;"><a href="/afghanistan">AFG</a></li>
    <li style="margin-left: 40%;"><a href="/newzealand">NZ</a></li>
    <li style="margin-left: 50%;"><a href="/southafrica">SA</a></li>
    <li style="margin-left: 60%;"><a href="/australia">AUS</a></li>
    
</ul>

     <!-- Main Input For Receiving Query to our ML -->

     <form style="margin-left: 34%; margin-top: 8%" action="{{ url_for('india')}}"method="post">
    
      
   
        <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 33%; color: white">vs Namibia</h3>
  
  
      <input type="text" name="nz runs nam" placeholder="Runs scored by IND"  required="required"/>
      <input type="text" name="nz faced" placeholder="Overs faced by IND" required="required"/>
      <input type="text" name="afg runs nz" placeholder="Runs scored by NAM" required="required"/>
      <input type="text" name="afg overs nz" placeholder="Overs faced by NAM" required="required"/>
      
            
        
       <!--<input type="text"  class="input-text"  name="passage" placeholder="Passage" required="required" /> -->
          <button type="submit">Submit</button>
      
      </form>
  



   <br>
   <br>
   

   <div style="margin-left: 650px; color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 35px;">
    <pre>
      <h3 style="font-family: Arial, Helvetica, sans-serif; color: yellow;">India's NRR</h3> 
    {{ ind_nrr }}
    </pre>
   </div>
   
   

 


</body>



</html>