<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
 <div class="login">
	<h1>NRR Calculator</h1>
  <!-- <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 32%; font-size: 25px; color: yellow;">If a team is all out, enter the number of overs faced by that team as 20.</p>  -->

  <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 32%; font-size: 25px; color: yellow;"> Calculate NRR of Teams of Pool 2 in the ICC Men's T20 World Cup 2021</h2>

  <ul>

    <li style="margin-left: 10%x;"><a class="active" href="/">Home</a></li>
    <li style="margin-left: 20%;"><a href="/india">IND</a></li>
    <li style="margin-left: 30%;"><a href="/afghanistan">AFG</a></li>
    <li style="margin-left: 40%;"><a href="/newzealand">NZ</a></li>
    <li style="margin-left: 50%;"><a href="/southafrica">SA</a></li>
    <li style="margin-left: 60%;"><a href="/australia">AUS</a></li>
    
</ul>
     
 <h2 style="font-size: 45px; margin-left: 41%; font-family: Arial, Helvetica, sans-serif; color: white;">
  How is NRR Calculated?
</h2>

<p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 32%; font-size: 25px; color: yellow;">
  NRR = (Total Runs Scored / Overs Faced) - (Total Runs Given / Overs Bowled)
</p>
<br>
<p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 12%; font-size: 25px; color: white;">
  If a team is bowled out, then the number of overs faced by that team is taken as the maximum number of overs to be bowled. 
</p>



</body>

<footer style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 20%; margin-left: 82%; font-size: 25px; color: yellow;">Created by: <a style="text-decoration: none" href="https://twitter.com/IAkhil3" class="fa fa-twitter"></a> IAkhil3</footer>

</html>